.contactMeMain {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    justify-items: center;
}
.ResumeSectionContactInfo {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: center;
    width: 50%;
}
.ResumeSectionContactInfoC {
    margin: 0% auto;
}
.ResumeSection {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.profileInfo {
    width: 50%;
}
.beforeTabinfo {
    text-align: center;
}
@media screen and (max-width: 300px) {
    .profileInfo {
        font-size: 75%;
        font-style: normal;
        font-weight: 100%;
    }
}